body {
  font-family: "Poppins", sans-serif;
  background: rgb(81, 81, 227);
}

/* Navbar Style*/
.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active {
  color: rgb(255, 226, 60);
  font-weight: 700;
}

.navbar i {
  font-size: 0.8rem;
  padding: 0 7px;
  cursor: pointer;
  transition: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

.navbar-brand {
  font-weight: bold;
}

#bar {
  font-size: 1.5rem;
  padding: 7px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3 ease;
  color: rgb(245, 255, 64);
}

#bar:hover,
#bar.active {
  color: rgb(219, 219, 231);
}

#yangpertama {
  height: 10vh;
}

/*---------------------------------------
  PROJECTS              
-----------------------------------------*/
.projects-thumb {
  background: rgb(128, 175, 236);
  border: 2px solid var(--white-color);
  border-radius: 24px;
  position: relative;
  overflow: hidden;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 40px;
  transition: all ease 0.5s;
}

.projects-thumb:hover {
  border-color: wheat;
}

.projects-thumb:hover .projects-image,
.projects-thumb:focus .projects-image {
  transform: rotate(0) translateY(0);
}

.projects-thumb .popup-image {
  display: block;
  width: 100%;
  height: 100%;
}

.projects-image {
  border-radius: 22px;
  display: block;
  width: 100%;
  transform: rotate(10deg) translateY(80px);
  transition: all ease 0.5s;
}

.projects-title {
  margin-bottom: 20px;
  font-weight: bold;
  color: rgb(30, 30, 26);
}

.projects-tag {
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-medium);
  color: var(--secondary-color);
  text-transform: uppercase;
  margin-bottom: 5px;
}

/********** common setting **********/

.jumbotron {
  margin-bottom: 0 !important;
}

.atlas-cta {
  border-radius: 22px !important;
  padding: 12px 30px !important;
  font-weight: 700;
  transition: 0.3s ease-in-out !important;
}

.atlas-cta:hover {
  text-decoration: none;
  transform: translateY(-5px);
}

.atlas-cta-wide {
  width: 100%;
}

#banner {
  background-size: cover;
}

/********** banner **********/
#banner header {
  overflow: hidden;
}

#banner header img {
  max-width: 80px;
}

/********** feature (skew background) **********/
.feature img {
  width: 100%;
  max-width: 480px;
}

#feature-first {
  background: linear-gradient(168deg, #ffffff 55%, #00ffad 0);
}

#feature-last {
  background: #00ffad;
}

/********** RWD **********/
@media (max-width: 575px) {
  #banner h1 {
    font-size: 3.6rem;
  }
}

.text-container {
  color: aliceblue;
  text-align: justify;
}

.text-container h1 {
  font-weight: bold;
}

.we-help-section {
  padding: 7rem 0;
  color: aliceblue;
}
.we-help-section h2 {
  font-weight: bold;
  font-size: 65px;
  text-align: right;
}
.we-help-section p {
  text-align: justify;
}
.we-help-section .imgs-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [27];
  grid-template-columns: repeat(27, 1fr);
  position: relative;
}
.we-help-section .imgs-grid:before {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translate(-40%, -40%);
  -ms-transform: translate(-40%, -40%);
  transform: translate(-40%, -40%);
  z-index: -1;
}
.we-help-section .imgs-grid .grid {
  position: relative;
}
.we-help-section .imgs-grid .grid img {
  border-radius: 20px;
  max-width: 100%;
}
.we-help-section .imgs-grid .grid.grid-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 18;
  grid-column: 1 / span 18;
  -ms-grid-row: 1;
  -ms-grid-row-span: 27;
  grid-row: 1 / span 27;
}
.we-help-section .imgs-grid .grid.grid-2 {
  -ms-grid-column: 19;
  -ms-grid-column-span: 27;
  grid-column: 19 / span 27;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1 / span 5;
  padding-left: 20px;
}
.we-help-section .imgs-grid .grid.grid-3 {
  -ms-grid-column: 14;
  -ms-grid-column-span: 16;
  grid-column: 14 / span 16;
  -ms-grid-row: 6;
  -ms-grid-row-span: 27;
  grid-row: 6 / span 27;
  padding-top: 20px;
}

/*** About ***/
@media (min-width: 992px) {
  .container.about {
    max-width: 100% !important;
  }

  .about-text {
    padding-right: calc(((100% - 960px) / 2) + 0.75rem);
  }
}

@media (min-width: 1200px) {
  .about-text {
    padding-right: calc(((100% - 1140px) / 2) + 0.75rem);
  }
}

@media (min-width: 1400px) {
  .about-text {
    padding-right: calc(((100% - 1320px) / 2) + 0.75rem);
  }
}

.content {
  width: 100%;
  height: 100vh;
  color: rgb(221, 224, 226);
}

.judul {
  color: rgb(221, 224, 226);
  width: 50%;
  height: 100vh;
  padding-left: 8%;
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: justify;
  float: left;
}

.gambarkumpul {
  float: left;
  width: 50%;
  height: 100vh;
  padding-top: 300px;
  padding-left: 160px;
}

.Sejarah1 {
  width: 100%;
  height: 100vh;
  background-color: wheat;
}

.Sejarah2 {
  margin-top: 8%;
  margin-bottom: 5%;
  width: 100%;
  position: relative;
  color: rgb(255, 255, 255);
  text-align: left;
  text-align: justify;
}

.sejarah {
  margin-bottom: 5%;
  padding-right: 5%;
  width: 100%;
  position: relative;
  color: rgb(237, 237, 237);
  text-align: left;
  text-align: justify;
}

.visi {
  width: 100%;
  padding-left: 65%;
  position: relative;
  color: rgb(255, 255, 255);
  text-align: left;
  text-align: justify;
}

.male {
  padding-left: 14%;
  position: relative;
}

.txtahli {
  margin-left: 30%;
  position: relative;
  color: rgb(255, 255, 255);
  padding-right: 40%;
}

.gmbarlas {
  position: relative;
  padding-left: 3%;
}

.penggaris {
  position: relative;
  padding-left: 109%;
}

.txtkaryawan {
  color: aliceblue;
  margin-left: 37%;
  text-align: justify;
  font-size: 20px;
}

#nutup {
  width: 100%;
  background-size: cover;
  height: 120vh;
  margin-top: 5%;
}

.tutup {
  background-size: cover;
  position: relative;
}

/*cover section*/

#nutup {
  background-image: url(../asset/png/pabrik.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#nutup h3 {
  font-weight: 800;
  font-size: 70px;
  text-align: left;
}

/*portofolio*/

#judulkiri {
  width: 40%;
  color: rgb(254, 229, 66);
  height: 100vh;
  float: left;
  font-size: 80px;
  text-align: justify;
  font-weight: bolder;
  padding-top: 15%;
  padding-left: 10%;
}

#judulkanan {
  width: 60%;
  color: aliceblue;
  height: 100vh;
  float: left;
  padding-top: 17%;
  font-size: 22px;
  text-align: justify;
  line-height: 40px;
  padding-right: 5%;
}

.kerjasamaproyek {
  color: rgb(255, 255, 255);
  padding-top: 5%;
  width: 212.4vh;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 150vh;
}

.kerjasamaproyek img {
  border-radius: 22px;
  margin-top: 6%;
}

.melle {
  height: 90vh;
  width: 100%;
}

/*jasa*/

#kirijasa {
  width: 40%;
  color: rgb(254, 229, 66);
  height: 100vh;
  float: left;
  font-size: 100px;
  text-align: justify;
  font-weight: bolder;
  padding-top: 16%;
  padding-left: 10%;
}

#kananjasa {
  width: 60%;
  color: aliceblue;
  height: 100vh;
  float: left;
  padding-top: 17%;
  font-size: 22px;
  text-align: justify;
  line-height: 40px;
  padding-right: 5%;
}

#modifikasi {
  color: rgb(161, 220, 255);
  font-weight: bold;
  font-size: 80px;
  padding-left: 5%;
  width: 100%;
}

/*jasaa*/
#penjelasanmod {
  height: 100%;
  color: antiquewhite;
  font-size: 24px;
  width: 50%;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  float: left;
  height: 100vh;
}

#jasa1 {
  height: 100%;
  width: 50%;
  height: 100vh;
  padding-left: 2%;
  float: left;
}

#jasa2 {
  height: 100%;
  width: 50%;
  height: 100vh;
  float: left;
  padding-left: 4%;
  padding-top: 2%;
}

#penjelasan2 {
  width: 50%;
  color: aliceblue;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  text-align: justify;
  height: 100vh;
  float: left;
  font-size: 24px;
}

#titlescaling {
  color: aquamarine;
  font-weight: bold;
  font-size: 80px;
  padding-left: 5%;
  width: 100%;
}

#penjelasan3 {
  height: 100%;
  color: antiquewhite;
  font-size: 24px;
  width: 50%;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  float: left;
  height: 100vh;
}

#jasa3 {
  height: 100%;
  width: 50%;
  height: 100vh;
  padding-left: 2%;
  float: left;
}

#instalasi {
  color: aquamarine;
  font-weight: bold;
  font-size: 80px;
  padding-left: 5%;
  width: 100%;
}

#jasa4 {
  height: 100%;
  width: 50%;
  height: 100vh;
  float: left;
  padding-left: 4%;
  padding-top: 2%;
}

#penjelasan4 {
  width: 50%;
  color: aliceblue;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  text-align: justify;
  height: 100vh;
  float: left;
  font-size: 24px;
}

#rental {
  color: aquamarine;
  font-weight: bold;
  font-size: 80px;
  padding-left: 5%;
  width: 100%;
}

#jasa5 {
  float: left;
  color: aliceblue;
  width: 50%;
  height: 80vh;
  padding-left: 5%;
}

#penjelasan5 {
  height: 100%;
  color: antiquewhite;
  font-size: 24px;
  width: 50%;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  float: left;
  height: 80vh;
}

#rectangle {
  font-size: 1px;
}

#kolomkontak {
  height: 100%;
  width: 100%;
  height: 25vh;
}

#tulisjasa {
  height: 30vh;
  font-size: 64px;
  font-weight: bold;
  color: rgb(255, 228, 51);
  padding-left: 10%;
}

#pertama {
  height: 50vh;
  width: 50%;
  color: aliceblue;
  text-align: justify;
  padding-top: 5%;
  padding-left: 10%;
  font-size: 25px;
  float: left;
}

#gambarchat {
  height: 50vh;
  width: 50%;
  float: left;
  padding-left: 100px;
}

#gambarkeduua {
  height: 70vh;
  width: 50%;
  float: left;
  padding-left: 5%;
}

#gambarkeduua img {
  margin-top: -122px;
}

#keduua {
  height: 70vh;
  width: 50%;
  float: left;
  color: aliceblue;
  text-align: justify;
  padding-top: 2%;
  font-size: 25px;
  float: left;
}

#keduua p {
  padding-left: 80px;
}

.ig {
  padding-left: 4%;
}

.igtxt {
  margin-left: 3%;
}

#ketiggga {
  height: 80vh;
  width: 50%;
  float: left;
  color: aliceblue;
  text-align: justify;
  padding-top: 5%;
  padding-left: 10%;
  font-size: 25px;
  float: left;
}

#keempat {
  height: 80vh;
  width: 50%;
  float: left;
  padding-left: 5%;
  padding-top: 5%;
}

#top {
  height: 20vh;
}

#judulbelanja {
  color: aliceblue;
  height: 20vh;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

#produk {
  width: 100%;
}

.card:hover {
  background-color: rgb(255, 228, 51);
}

.card-fasilitas {
  font-weight: bold;
  width: 30%;
  text-align: center;
  float: left;
}

.card-fasilitas2 {
  width: 70%;
  float: left;
  font-weight: bold;
  font-size: 18px;
  padding-top: 1%;
  padding-left: 5%;
}

.card-fasilitas3 {
  font-weight: bold;
  width: 30%;
  text-align: center;
  float: left;
}
.card-fasilitas4 {
  width: 70%;
  float: left;
  font-weight: bold;
  font-size: 35px;
  padding-top: 1%;
  padding-left: 5%;
}

.card-fasilitas5 {
  width: 30%;
  float: left;
}

.card-fasilitas6 {
  font-size: 23px;
  width: 70%;
  float: left;
  font-weight: bold;
  padding-top: 1%;
  padding-left: 5%;
}

.card-fasilitas7 {
  font-weight: bold;
  width: 30%;
  text-align: center;
  float: left;
}
.card-fasilitas8 {
  width: 70%;
  float: left;
  text-align: left;
  font-weight: bold;
  font-size: 19px;
  padding-left: 5%;
  padding-top: 8%;
}
